
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}" with:title="Weather">
<th:block layout:fragment="content">
	<table class="table table-striped table-bordered" id="list_weather">
		<tbody>
			<tr th:each="almacen : ${almacen}" th:id="|almacen_${almacen.item}|">

				<th scope="row"><span id="item" data-type="text"
					data-title="Item"
					th:attr="data-url=@{/index}, data-pk=${almacen.item}, data-value=${almacen.item}"
					class="inline-editable" th:text="${almacen.item}">Item</span></th>
				<td class="text-right"><span id="seccion" data-type="text"
					data-title="Seccion"
					th:attr="data-url=@{/index}, data-pk=${almacen.item}, data-value=${almacen.seccion}"
					data-clear="false" class="inline-editable"
					th:text="${almacen.seccion}">Seccion</span></td>
				<td class="text-right"><span id="parcela" data-type="number"
					data-title="Parcela"
					th:attr="data-url=@{/index}, data-pk=${almacen.item}, data-value=${almacen.parcela}"
					data-clear="false" class="inline-editable"
					th:text="${#numbers.formatInteger(almacen.parcela, 1, 'DEFAULT')}">Parcela</span>
				</td>
				<td class="text-right"><span id="acciones" data-type="text"
					data-title="Acciones"
					th:attr="data-url=@{/index}, data-pk=${almacen.item}, data-value=${almacen.acciones}"
					data-clear="false" class="inline-editable"
					th:text="${almacen.acciones}">Acciones</span></td>
			</tr>
		</tbody>
	</table>
</th:block>

<th:block layout:fragment="body_end">
	<div class="modal fade" tabindex="-1" role="dialog" id="almacenModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Editar almacen</h4>
				</div>
				<div class="modal-body">
					<p>....</p>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>